.track_style {
  position: absolute;
  background-color: #1976d2;
  height: 4px;
}

.modal_window {
  width: 100vw;
  position: fixed;
  background-color: black;
  opacity: 0.5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal {
  width: 500px;
  padding: 5px;
  background-color: #fff;
  position: fixed;
  top: 10px;
  left: 10px;
  transform: translateX(50%);
  border-radius: 10px;
}